---
import {getCollection, render} from "astro:content";
import Layout from "../../layouts/Layout.astro";
import BackBtn from "../../components/BackBtn.astro";
import {Image} from "astro:assets";
import BackToTop from "../../components/BackToTop.astro";


export async function getStaticPaths() {
    const posts = await getCollection('posts');
    return posts.map(post => ({
        params: {id: post.id},
        props: {post},
    }));
}

const {post} = Astro.props;

const {title, description, publishDate, tags, cover} = post.data;

const {Content} = await render(post);
---
<Layout title={title} description={description} imageOg={cover.src.src} scrollSmooth={true}>
    <>
        <div class="flex justify-center mt-10">
            <BackBtn/>
        </div>
        <div class="flex flex-col gap-6 justify-center items-center">
            <h1 class="text-3xl font-bold text-center">{title}</h1>
            <p class="text-sm text-n500 dark:text-primary-light ">
                {tags.join(', ')}
            </p>
        </div>
        <Image transition:name={`${post.id}-image`} class="rounded-2xl h-[400px] object-cover" src={cover.src}
               alt="Main project image"/>
        <article id="article" class="mt-8 prose dark:prose-invert">
            <Content/>
        </article>
        <BackToTop />
    </>
</Layout>