---
// data imports
import education from "@/data/education.ts"
import talks from "@/data/talk.ts"
import teachings from "@/data/teach.ts"


// component imports
import EduDetail from "./EduDetail.astro";
import TalkDetails from "./TalkDetails.astro";
import TeachDetails from "./TeachDetails.astro";
import Research from "./ResearchCC.astro";
import Project from "./ProjectsCC.astro";

// config import
import {ME} from '@/config';

---

<div class="relative flex flex-col gap-8 text-n700 dark:text-n200 w-full mt-10 px-4">
    {/*Description or About me -- Section*/}
    <div class="mb-4">
            <p set:html={ME.aboutMe}></p>
    </div>
    {/*Education section*/}
    <div class="mb-4">
        <h2 class="text-3xl font-bold mb-4">Education</h2>
        <div class="flex flex-col gap-6">
            {education.map((edu) => (
                    <EduDetail eduData={edu}/>
            ))}
        </div>
    </div>

    {/*Research section*/}
    <div class="mb-4">
        <h2 class="text-3xl font-bold mb-4">Research</h2>
            <Research/>
    </div>

    {/*Project section*/}
    <div class="mb-4">
        <h2 class="text-3xl font-bold mb-4">Project</h2>
            <Project/>
    </div>

    {/*Talk section
    <div class="mb-4">
        <h2 class="text-3xl font-bold mb-4">Talk/Presentation</h2>
        <div class="flex flex-col gap-6">
            {talks.map((talk) => (
                    <TalkDetails talkdata={talk}/>
            ))}
        </div>
    </div>*/}

    {/*Teach section*/}
    <div class="mb-4">
        <h2 class="text-3xl font-bold mb-4">Teaching</h2>
        <div class="flex flex-col gap-6">
            {teachings.map((teach) => (
                    <TeachDetails teachdata={teach}/>
            ))}
        </div>
    </div>
</div>