---
// data imports
import workExperience from "@/data/Jobs.ts"
import education from "@/data/education.ts"
import languages from "../data/languages.ts"
import hardSkills from "@/data/hardSkills"
import softSkills from "@/data/softSkills"

// component imports
import JobDetails from "./JobDetails.astro";
import EduDetail from "./EduDetail.astro";
import SkillCard from "./SkillCard.astro";

// config import
import {ME} from '@/config';

---

<div class="relative flex flex-col gap-8 text-n700 dark:text-n200 w-full mt-10 px-4">
    {/*Description or About me -- Section*/}
    <div class="mb-4">
            <p set:html={ME.aboutMe}></p>
    </div>
   <!--  {/*Work experience section*/}
    <div class="mb-4">
        <h2 class="text-3xl font-bold mb-4">Work Experience</h2>
        <div class="flex flex-col gap-6">
            {workExperience.map((job) => (
                    <JobDetails jobData={job}/>
            ))}
        </div>
    </div>
    {/*Education section*/}
    <div class="mb-4">
        <h2 class="text-3xl font-bold mb-4">Education</h2>
        <div class="flex flex-col gap-6">
            {education.map((edu) => (
                    <EduDetail eduData={edu}/>
            ))}
        </div>
    </div>
    {/*Skills section*/}
    <div class="mb-4">
        <h2 class="text-3xl font-bold mb-4">Hard Skills</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            {hardSkills.map((skill) => (
                    <SkillCard {...skill} showDescription={true}/>
            ))}
        </div>
    </div>
    {/*Hobbies section*/}
    <div class="mb-4">
        <h2 class="text-2xl font-bold mb-4">Soft Skills</h2>
        <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
            {softSkills.map((skill) => (
                    <SkillCard {...skill} showDescription={false}/>
            ))}
        </div>
    </div>
    {/*Languages section*/}
    <div class="mb-4">
        <h2 class="text-2xl font-bold mb-4">Languages</h2>
        <div class="flex flex-col gap-2">
            {
                languages.map((lang) => (
                    lang.show ? <p>{lang.name} - {lang.level}</p> : null
                ))
            }
        </div>
    </div> -->
</div>