---
// component imports
import {Badge} from "./ui/badge";

// lib imports
import {formatDatetime} from "../lib/utils";

interface Edu {
    title: string;
    school: string;
    location: string;
    startDate: string;
    endDate?: string;
    description: string;
    currentUni: boolean;
}

const {eduData} = Astro.props;  // Ensure correct typing for the props
const {
    title,
    school,
    location,
    startDate,
    endDate,
    description,
    currentUni
} = eduData as Edu;
---

<div class="flex flex-col gap-2">
    <Badge className="bg-primary-light dark:bg-primary-dark w-fit rounded-md">
        {formatDatetime(startDate)} - {currentUni ? "Present" : formatDatetime(endDate)}
    </Badge>
    <h3 class="text-xl font-bold">{title}</h3>
    <div class="flex gap-2">
        <p>{school}</p>
        <span>/</span>
        <p>{location}</p>
    </div>
    <p>{description}</p>
</div>