---
// component imports
import {Badge} from "./ui/badge";

// lib imports
import {formatDatetime} from "../lib/utils";

interface Edu {
    title: string;
    school: string;
    location: string;
    startDate: string;
    endDate?: string;
    description: string;
    currentUni: boolean;
}

const {eduData} = Astro.props;  // Ensure correct typing for the props
const {
    title,
    school,
    location,
    startDate,
    endDate,
    description,
    currentUni
} = eduData as Edu;
---

<div class="flex flex-col gap-2">
    <Badge className="bg-primary-light dark:bg-primary-dark text-n700 w-fit rounded-md">
        {formatDatetime(startDate)} - {currentUni ? "Present" : formatDatetime(endDate)}
    </Badge>
    <p><a class="text-xl font-bold">{title}</a> &nbsp;
        {school}
        <span class="text-sm font-bold">/</span>
        {location}
   {description}</p>
</div>