---
import {Image} from "astro:assets";
import ClockIcon from "@/icons/time-line.svg";

interface Props {
    id: string;
    title: string;
    description: string;
    publishDate: Date;
    tags: string[];
    cover: {
        src: ImageMetadata;
        alt?: string;
    };
}

const {id, title, description, publishDate, tags, cover} = Astro.props as Props;

const post = {
    id,
    data: {
        title,
        description,
        publishDate,
        tags,
        cover,
    },
};
---

<a href=`/blog/${id}` aria-label=`Read post about ${title}` class="flex flex-col md:flex-row md:items-center gap-4">
    <!--post cover-->
    <div class="flex-none w-full md:w-40 h-40 overflow-hidden rounded-xl">
        <Image transition:name={`${post.id}-image`} src={post.data.cover.src} alt={post.data.cover.alt ?? title}
               class="w-full h-full object-cover rounded-xl"/>
    </div>
    <!--post info-->
    <div class="flex flex-col gap-2">
        <div class="flex items-center gap-1.5">
            <div class="flex items-center gap-1">
                <ClockIcon class="w-4 h-4 text-gray-500"/>
                <time class="text-sm text-gray-500" datetime={post.data.publishDate.toISOString()}>
                    {post.data.publishDate.toDateString()}
                </time>
            </div>
            <span class=" text-gray-500">
                                        &middot;
                                    </span>
            <div class="flex gap-2">
                {post.data.tags.map((tag) => (
                        <span class="text-sm text-gray-500">
                                                    #{tag}
                                                </span>
                ))}
            </div>
        </div>
        <h3 class="text-xl font-bold">{post.data.title}</h3>
        <div class="flex flex-col gap-4">
            <p class="text-sm">{post.data.description}</p>
        </div>
    </div>
</a>
