---
// astro imports
import {Image} from "astro:assets";

const { title, tags, cover, id } = Astro.props;
---
<a href={`/projects/${id}`}>
    <div class="relative flex flex-col text-gray-700 bg-clip-border rounded-xl w-full">
        <div class="relative overflow-hidden rounded-xl h-52">
            <Image
                    transition:name={ `${id}-image` }
                    src={cover}
                    alt={"cover preview of " + title}
                    class={"object-cover w-full h-full rounded-xl"}
                    loading={'eager'}
            />
        </div>
        <div class="px-2 py-4 flex flex-col gap-2">
            <p class="text-sm  text-n500 dark:text-light-theme ">
                {tags.join(', ')}
            </p>
            <div class="flex items-center justify-between mb-2">
                <h4 class="font-semibold text-xl text-n500 dark:text-white ">
                    {title}
                </h4>
            </div>
        </div>
    </div>
</a>