---
// astro imports
import { Image } from 'astro:assets';

// library imports
import {cn} from "../lib/utils";


interface Props {
    title: string;
    tags: string[];
    cover: ImageMetadata;
    id: string;
}

const { title, tags, cover, id } = Astro.props as Props;
---

<a href={`/projects/${id}`} class="project-card" aria-label={`View project "${title}"`}>
    <div class="flex flex-col md:flex-row md:items-center gap-6">
        <div class="rounded-xl h-[250px] md:w-[150px] md:h-[150px] flex-none overflow-hidden">
            <Image
                    transition:name={`${id}-image`}
                    src={cover}
                    alt={`Cover preview of the project titled "${title}"`}
                    class="object-cover w-full h-full rounded-xl"
            />
        </div>
        <div class="flex flex-col gap-2 flex-1">
            <p class="text-sm text-n500 dark:text-light-theme">
                {tags.join(', ')}
            </p>
            <div class="flex items-center justify-between mb-2">
                <h6 class={cn("font-semibold text-xl", "text-n500 dark:text-white")}>
                    {title}
                </h6>
            </div>
        </div>
    </div>
</a>