---
// astro imports
import {getCollection} from "astro:content";

// components imports
import ProjectCard from "./ProjectCard.astro";
import {buttonVariants} from "./ui/button";

const allProjects = (await getCollection('projects'))
    .sort((a, b) => b.data.startDate.getTime() - a.data.startDate.getTime());;
---

<!--Grid section to show the projects in to columns -->
<>
    <section class="mt-10 px-4 w-full">
        <div class="mb-4">
            <h2 class="text-3xl font-bold mb-4">Projects</h2>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            {
                allProjects.map((project) => (
                        <ProjectCard
                                id={project.id}
                                title={project.data.title}
                                summary={project.data.summary}
                                tags={project.data.tags}
                                cover={project.data.cover}
                        />
                ))
            }
        </div>
    </section>
    <div class="flex justify-center mt-10">
        <a href="/projects" class={buttonVariants({ variant: "default" }) + "text-n700 bg-primary-light dark:bg-primary-dark hover:bg-primary-hover-light dark:hover:bg-primary-hover-dark"}>
            See All Projects
        </a>
    </div>
</>



