---
// component imports
import {Badge} from "./ui/badge";
import {formatDatetime} from "../lib/utils";

const { title, summary, startDate, endDate, url, order } = Astro.props;
---
    <Badge className="bg-primary-light dark:bg-primary-dark text-n700 w-fit rounded-md">
        {startDate} - {endDate}
    </Badge>

  <div class="flex flex-col gap-3 py-4 pr-4 pl-0 rounded-xl border-y border-r border-transparent dark:border-n900 dark:hover:bg-n800 transition-all">
    <!-- Project Title -->
    <h4 class="font-semibold text-xl text-n900 dark:text-n200">
      <a href={url} class="text-xl font-bold hover:underline">{title}</a>
    </h4>
    <!-- Summary -->
    <p>
      {summary}
    </p>
  </div>