---
// astro imports
import {getCollection} from "astro:content";

// components imports
import ProjectCard from "./ProjectCard.astro";
import {buttonVariants} from "./ui/button";

const allProjects = (await getCollection('projects'));
---

<!--Grid section to show the projects in to columns -->
<>
    <section class="mt-4 w-full">
        <div class="flex flex-col gap-0">
            {
                allProjects.sort((a, b) => b.data.order - a.data.order)
                .map((project) => (
                        <ProjectCard
                                id={project.id}
                                summary={project.data.summary}
                                title={project.data.title}
                                startDate={project.data.startDate}
                                endDate={project.data.endDate}
                                url={project.data.url}
                                description={project.data.description}
                                order={project.data.order}
                        />
                ))
            }
        </div>
    </section>
</>