---
// component imports
import {Badge} from "./ui/badge";

interface Teach {
    title: string;
    titleref: string;
    Date: string;
    position: string;
}

const {teachdata} = Astro.props;  // Ensure correct typing for the props
const {
    title,
    titleref,
    Date,
    position,
} = teachdata as Teach;
---

<div class="flex flex-col gap-2">
    <div class="flex items-center gap-3">
        <Badge className="bg-primary-light dark:bg-primary-dark text-n700 w-fit rounded-md shrink-0">
                {Date}
        </Badge>
        <a class="text-xl font-bold hover:underline" href={titleref}>{title}</a> 
        <a> {position}</a>  
    </div>
</div>