---
import Layout from '../../layouts/Layout.astro';
import {getCollection} from 'astro:content';
import ProjectCardList from '@/components/ProjectCardList.astro';

interface Project {
    id: string;
    data: {
        title: string;
        summary: string;
        tags: string[];
        cover: ImageMetadata;
        startDate: Date;
    };
}

const allProjects = (await getCollection('projects'))
    .sort((a, b) => b.data.startDate.getTime() - a.data.startDate.getTime());
---

<Layout title="VicBox Dot Dev | Portfolio | My Projects" description="A list of my best projects" scrollSmooth={false}>
    <>
        <!--Projects Section-->
        <section class="border-bottom">
            <div class="mb-4">
                <h2 class="text-3xl font-bold mb-8">All My Projects</h2>
            </div>
        </section>
        <!--Projects List-->
        <section class="flex flex-col gap-8">
            {allProjects.length > 0 ? (
                allProjects.map((project: Project) => (
                        <ProjectCardList
                                id={project.id}
                                title={project.data.title}
                                tags={project.data.tags}
                                cover={project.data.cover}
                        />
                ))
            ) : (
                    <p>No projects found.</p>
            )}
        </section>
    </>
</Layout>
