---
import {ClientRouter} from 'astro:transitions';
import {cn} from "../lib/utils";
import '@/styles/globals.css'

import Navbar from "../components/Navbar.astro";

import {SITE} from '@/config';

interface Props {
    title?: string;
    scrollSmooth: boolean;
    description?: string;
    tags?: string[];
    author?: string;
    imageOg?: string;
    canonicalURL?: string;
}

const {
    title = SITE.title,
    description = SITE.description,
    tags = SITE.tags,
    author = SITE.author,
    scrollSmooth,
    canonicalURL = new URL(Astro.url.pathname, Astro.site).href,
    imageOg = SITE.ogImage,
} = Astro.props;
---

<!doctype html>
<html lang={SITE.lang ?? "en"} class={cn({"scroll-smooth": scrollSmooth})}>
<head>
    <meta name="msapplication-TileColor" content="#000000"/>
    <meta name="viewport" content="width=device-width"/>
    <meta charset="UTF-8"/>
    <meta name="generator" content={Astro.generator}/>

    <meta name="title" content={title}/>
    <meta name="description" content={description}/>
    <meta name="keywords" content={tags.join(', ')}/>
    <meta name="author" content={author}/>
    <link rel="sitemap" href="/sitemap-index.xml"/>
    <link rel="icon" href={SITE.favicon}/>
    <link rel="canonical" href={canonicalURL}/>

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content={title}/>
    <meta property="og:description" content={description}/>
    <meta property="og:url" content={canonicalURL}/>
    <meta property="og:image" content={imageOg}/>
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image"/>
    <meta property="twitter:url" content={canonicalURL}/>
    <meta property="twitter:title" content={title}/>
    <meta property="twitter:description" content={description}/>
    <meta property="twitter:image" content={imageOg}/>

    <title>{title}</title>
    <ClientRouter/>
</head>
<body class="bg-light-theme dark:bg-dark-theme antialiased text-n700 dark:text-light-theme w-full h-screen flex flex-col">
<!-- <Navbar/>-->
<main class="container py-24 flex gap-8 flex-col" role="main"  id="top">
    <slot/>
</main>
</body>
</html>
